:host(.forgot-password-view) {
    background-color: var(--flourish-bg-color);
    color: var(--flourish-text-color);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forgot-password-title {
    margin-bottom: 0.5rem;
    color: var(--flourish-secondary-color);
}

.forgot-password-instructions {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: var(--flourish-text-color);
}

.forgot-password-input {
    width: 300px;
    margin-bottom: 1rem;
}

.forgot-password-button {
    background-color: var(--lumo-primary-color);
    color: var(--flourish-contrast-text);
    border: none;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
