:host(.login-view) {
    width: 100%;
    height: 100%;
    background-color: var(--flourish-surface-color);
    /*background-color: var(--flourish-bg-color);*/
    color: var(--flourish-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.login-layout {
    width: 400px;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.login-form {
    align-self: center;
}

.login-register-header {
    margin: 0;
    font-size: 1.2rem;
    color: var(--flourish-secondary-color);
}

.login-register-button {
    cursor: pointer;
    background-color: transparent;
    color: var(--flourish-text-color);
}
